[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
influxdb = "*"
toml = "*"
requests = "*"
"RPi.GPIO" = "*"
gpiozero = "*"
"Adafruit_GPIO" = {file = "https://github.com/adafruit/Adafruit_Python_GPIO/archive/master.zip"}
"Adafruit_BME280" = {file = "https://github.com/adafruit/Adafruit_Python_BME280/archive/master.zip"}
"5a2883a" = {file = "https://github.com/adafruit/Adafruit_Python_PureIO/archive/master.zip"}

[requires]
python_version = "3.6"
