[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
sqlalchemy = "*"
influxdb = "*"
toml = "*"
requests = "*"
"RPi.GPIO" = "*"
gpiozero = "*"
"Adafruit_DHT" = "*"
pyserial = "*"
path-py = "*"
adafruit-circuitpython-bme280 = "*"
invoke = "*"

[requires]
python_version = "3.7"
